## 1. Manipulation des données avec Pandas/ NumPy

### a) Lire le CSV et explorer les données (shape, head, info)

In [53]:
# import des bibliothèques
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('movies.csv')

C:\Users\evame\AppData\Local\Temp\ipykernel_8764\1248751774.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies.csv')

In [55]:
# CONVERSION DES COLONNES EN TYPE NUMÉRIQUE

print("=== AVANT CONVERSION ===")
print(df[['budget', 'revenue', 'vote_average', 'vote_count']].dtypes)
print()

# Colonnes à convertir en numérique
colonnes_a_convertir = ['budget', 'revenue', 'vote_average', 'vote_count', 'runtime', 'popularity']

for col in colonnes_a_convertir:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        print(f"✅ {col} converti en numérique")

print()
print("=== APRÈS CONVERSION ===")
print(df[['budget', 'revenue', 'vote_average', 'vote_count']].dtypes)
print()
print("✅ Toutes les colonnes numériques sont converties !")

=== AVANT CONVERSION ===
budget           object
revenue         float64
vote_average    float64
vote_count      float64
dtype: object

✅ budget converti en numérique
✅ revenue converti en numérique
✅ vote_average converti en numérique
✅ vote_count converti en numérique
✅ runtime converti en numérique
✅ popularity converti en numérique

=== APRÈS CONVERSION ===
budget          float64
revenue         float64
vote_average    float64
vote_count      float64
dtype: object

✅ Toutes les colonnes numériques sont converties !

In [56]:
# Afficher le nombre de lignes et de colonnes
print("Taille du dataset :")
print(df.shape)
print()

# Plus détaillé
print(f"Nombre de films : {df.shape[0]}")
print(f"Nombre de colonnes : {df.shape[1]}")

Taille du dataset :
(45466, 24)

Nombre de films : 45466
Nombre de colonnes : 24

In [57]:
# Afficher les 5 premiers films
print("Les 5 premiers films :")
df.head()

Les 5 premiers films :

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [58]:
# Afficher les infos sur chaque colonne 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45463 non-null  float64
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(6), object(18)
memory usage: 8.3+ MB

### b) Nettoyer les valeurs manquantes (budget, revenue, rating)

In [59]:
# Afficher l'état AVANT nettoyage
print("Valeurs manquantes :")
print(df[['budget', 'revenue', 'vote_average']].isnull().sum())

Valeurs manquantes :
budget          3
revenue         6
vote_average    6
dtype: int64

In [60]:
# Budhet n'a pas de valeur manquante 

# Calculer la moyenne du revenue
moyenne_revenue = df['revenue'].mean()

# Remplacer les valeurs manquantes par la moyenne
df['revenue'] = df['revenue'].fillna(moyenne_revenue)

print(f"✅ Revenue nettoyé avec la moyenne du revenue qui est de {round(moyenne_revenue, 2)}")

✅ Revenue nettoyé avec la moyenne du revenue qui est de 11209348.54

In [61]:
# Compter combien de films avant
avant = df.shape[0]

# Supprimer les films sans vote_average
df = df.dropna(subset=['vote_average'])

# Compter combien après
apres = df.shape[0]

print(f"✅ Vote_average nettoyé")
print(f"Films supprimés : {avant - apres}")
print(f"Films restants : {apres}")

✅ Vote_average nettoyé
Films supprimés : 6
Films restants : 45460

In [62]:
# Remplacer les 0 de budget par la moyenne
moyenne_budget = df[df['budget'] > 0]['budget'].mean()
df.loc[df['budget'] == 0, 'budget'] = moyenne_budget

print(f"✅ Budgets à 0 remplacés par la moyenne : {moyenne_budget:,.2f}")

✅ Budgets à 0 remplacés par la moyenne : 21,604,277.46

In [63]:
# Calculer la moyenne des revenues > 0
moyenne_revenue = df[df['revenue'] > 0]['revenue'].mean()

print(f"Moyenne des revenues (hors 0) : {moyenne_revenue:,.2f}")

# Remplacer les 0 par la moyenne
nombre_zeros = (df['revenue'] == 0).sum()
df.loc[df['revenue'] == 0, 'revenue'] = moyenne_revenue

print(f"✅ {nombre_zeros} valeurs de 0 remplacées par la moyenne")

Moyenne des revenues (hors 0) : 68,787,389.93
✅ 38052 valeurs de 0 remplacées par la moyenne

### c) Créer de nouvelles colonnes : profit = revenue - budget.

In [64]:
# Convertir revenue en nombre (version sans warning)
df.loc[:, 'revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

print("✅ Budget et revenue convertis en nombres")

✅ Budget et revenue convertis en nombres

In [65]:
# Créer la colonne profit (version sans warning)
df.loc[:, 'profit'] = df['revenue'] - df['budget']

print("✅ Colonne profit créée")

✅ Colonne profit créée

In [66]:
# Afficher les 5 premières lignes
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,profit
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",3.000000e+07,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,3.735540e+08,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,3.435540e+08
1,False,NaN,6.500000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,2.627972e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1.977972e+08
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",2.160428e+07,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,6.878739e+07,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,4.718311e+07
3,False,NaN,1.600000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,8.145216e+07,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,6.545216e+07
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",2.160428e+07,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,7.657891e+07,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.497463e+07

### d) Filtrer / trier / grouper : top 10 films par profit, rating, etc.

In [67]:
# Trier par profit décroissant et prendre les 10 premiers
top_10_profit = df.nlargest(10, 'profit')

# Afficher seulement les colonnes importantes
print("Top 10 films par profit :")
top_10_profit[['title', 'profit', 'budget', 'revenue']]

Top 10 films par profit :

,title,profit,budget,revenue
14551,Avatar,2.550965e+09,237000000.0,2.787965e+09
26555,Star Wars: The Force Awakens,1.823224e+09,245000000.0,2.068224e+09
1639,Titanic,1.645034e+09,200000000.0,1.845034e+09
25084,Jurassic World,1.363529e+09,150000000.0,1.513529e+09
28830,Furious 7,1.316249e+09,190000000.0,1.506249e+09
17818,The Avengers,1.299558e+09,220000000.0,1.519558e+09
17437,Harry Potter and the Deathly Hallows: Part 2,1.217000e+09,125000000.0,1.342000e+09
26558,Avengers: Age of Ultron,1.125404e+09,280000000.0,1.405404e+09
22110,Frozen,1.124219e+09,150000000.0,1.274219e+09
42222,Beauty and the Beast,1.102886e+09,160000000.0,1.262886e+09

In [68]:
# Trier par vote_average décroissant et prendre les 10 premiers
top_10_rating = df.nlargest(10, 'vote_average')

# Afficher seulement les colonnes importantes
print("Top 10 films par rating :")
top_10_rating[['title', 'vote_average', 'vote_count']]

Top 10 films par rating :

,title,vote_average,vote_count
186,Reckless,10.0,1.0
394,Girl in the Cadillac,10.0,1.0
706,"The Haunted World of Edward D. Wood, Jr.",10.0,1.0
738,Carmen Miranda: Bananas Is My Business,10.0,1.0
1634,Other Voices Other Rooms,10.0,1.0
1761,"Dancer, Texas Pop. 81",10.0,1.0
2114,The Farmer's Wife,10.0,1.0
2653,Stiff Upper Lips,10.0,1.0
2948,Ten Benny,10.0,1.0
3160,Gendernauts: A Journey Through Shifting Identi...,10.0,2.0

In [69]:
# Convertir profit en numérique
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

# Trier par budget décroissant et prendre les 10 premiers
top_10_budget = df.nlargest(10, 'budget')

# Afficher les colonnes importantes
print("Top 10 films par budget :")
top_10_budget[['title', 'budget', 'revenue', 'profit']]

Top 10 films par budget :

,title,budget,revenue,profit
17124,Pirates of the Caribbean: On Stranger Tides,380000000.0,1.045714e+09,6.657138e+08
11827,Pirates of the Caribbean: At World's End,300000000.0,9.610000e+08,6.610000e+08
26558,Avengers: Age of Ultron,280000000.0,1.405404e+09,1.125404e+09
11067,Superman Returns,270000000.0,3.910812e+08,1.210812e+08
16130,Tangled,260000000.0,5.917949e+08,3.317949e+08
18685,John Carter,260000000.0,2.841391e+08,2.413910e+07
44842,Transformers: The Last Knight,260000000.0,6.049421e+08,3.449421e+08
11780,Spider-Man 3,258000000.0,8.908716e+08,6.328716e+08
21175,The Lone Ranger,255000000.0,8.928991e+07,-1.657101e+08
13893,Harry Potter and the Half-Blood Prince,250000000.0,9.339592e+08,6.839592e+08

In [70]:
# Sauvegarder le DataFrame nettoyé dans un nouveau fichier CSV
df.to_csv('movies_clean.csv', index=False)

print("✅ Fichier movies_clean.csv sauvegardé !")

✅ Fichier movies_clean.csv sauvegardé !

In [71]:
print(df.columns.tolist())

['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'profit']